/* Global selector*/
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Tag selctor*/
body{
    background-color:blanchedalmond ;
}

h4 {
color:green;
font-size: 100px;
background:inline-block;
background-color: red;
font-style: italic;
}
/*class selctor*/
.title {
    color: blue;
}

p{
    Font-size: 20px;
    background-color: red;

}
/* ID selector*/
#info{
    color:blueviolet;
    background-color:red;

}
#email, #github, #linkedin{
    color:aqua;
    background-color:black;
}
